* {
  margin: 0;
  padding: 0;
}

a {
  color: #f1e2c5;
}

body {
  background-color: #f1e2c5;
  color: #382a1f;
  font-family: 'Calistoga', cursive;
  font-weight: normal;
  -webkit-tap-highlight-color:transparent;
}

body, html {
  height: 100%;
}

h1, h2, h3, 
h4, h5, h6, p {
  font-weight: normal;
}

h2 {
  font-size: 2.375em;
  text-align: center;
  margin-top: 10px;
}

html {
  font-size: 1em;
}

header {
  width: 100%;
}

header h1 {
  float: left;
  font-size: 2.375em;
  margin: 8px 0 0 13px;
}

nav img {
  cursor: pointer;
}

nav > img {
  float: right;
  margin: 20px 18px 0 0;
}

.aboutBottomText {
  color: #f1e2c5;
  font-weight: lighter;
  letter-spacing: 0.3px;
}

.aboutMeBar {
  height: 24vh;
  height: calc(var(--vh, 1vh) * 24);
  width: 85%;
}

.aboutMeBar:first-of-type {
  margin-top: 15px;
}

.aboutMeBar:not(:first-of-type) {
  margin-top: 15px;
}

.aboutMeBarBottomLeft {
  border-bottom-right-radius: 12vh;
  border-bottom-right-radius: calc(var(--vh, 1vh) * 12);
  height: 50%;
  width: 100%;
}

.aboutMeBarBottomRight {
  border-bottom-left-radius: 12vh;
  border-bottom-left-radius: calc(var(--vh, 1vh) * 12);
  height: 50%;
  width: 100%;
}

.aboutMeBarTopLeft {
  border-top-right-radius: 12vh;
  border-top-right-radius: calc(var(--vh, 1vh) * 12);
  height: 50%;
  width: 100%;
}

.aboutMeBarTopRight {
  border-top-left-radius: 12vh;
  border-top-left-radius: calc(var(--vh, 1vh) * 12);
  height: 50%;
  width: 100%;
}

.aboutMeBarTopRight h3,
.aboutMeBarTopRight h4 {
  right: 0;
}

.aboutLeftBar {
  border-top-right-radius: 12vh;
  border-top-right-radius: calc(var(--vh, 1vh) * 12);
  border-bottom-right-radius: 12vh;
  border-bottom-right-radius: calc(var(--vh, 1vh) * 12);
  float: left;
}

.aboutRightBar {
  border-top-left-radius: 12vh;
  border-top-left-radius: calc(var(--vh, 1vh) * 12);
  border-bottom-left-radius: 12vh;
  border-bottom-left-radius: calc(var(--vh, 1vh) * 12);
  float: right;
  text-align: right;
}

.aboutTopText {
  position: relative;
}

.aboutTopText h3 {
  bottom: 20px;
  position: absolute;
}

.aboutTopText h4 {
  bottom: 2px;
  position: absolute;
}

.bgCircle {
  border-radius: 120px;
  height: 240px;
  position: absolute;
  text-align: center;
  width: 240px;
}

.bgCircle h3 {
  font-size: 1.5em;
  line-height: 1;
}

.blue {
  background-color: #5d7c8e;
}

.bottomLayer {
  height: calc(30vh / 7);
  height: calc(var(--vh, 1vh) * (30 / 7));
  width: 100%;
}

.bottomLayerStripes {
  bottom: 0;
  height: 30vh;
  height: calc(var(--vh, 1vh) * 30);
  position: absolute;
  width: 100%;
}

.breakHere {
  display: block;
}

.brown {
  background-color: #382a1f;
}

.centerLeftCol {
  justify-self: left;
  line-height: 1;
  padding-left: 20px;
}

.centerRightCol {
  justify-self: center;
  padding-right: 20px;
}

.orange {
  background-color: #e45300;
}

.purple {
  background-color: #a81252;
}

.red {
  background-color: #dd2501;
}

.yellow {
  background-color: #ebad00;
}

#aboutBlueBottom {
  background-color: #544a73;
}

#aboutBlueBottom p {
  font-size: 1.3125em;
  line-height: 1.2;
  margin-left: 5px;
  padding-top: 3px;
}

#aboutBlueTop {
  background-color: #9487bd;
}

#aboutBlueTop h3 {
  bottom: 5px;
  font-size: 1.75em;
  left: 5px;
  line-height: 1;
}

#aboutGreenBottom {
  background-color: #706120;
}

#aboutGreenBottom p {
  font-size: 1.375em;
  line-height: 1.3;
  margin-right: 5px;
  padding-top: 3px;
}

#aboutGreenTop {
  background-color: #a5ab01;
}

#aboutGreenTop h3 {
  bottom: 25px;
  font-size: 2em;
  right: 5px;
}

#aboutGreenTop h4 {
  font-size: 1.5625em;
  right: 5px;
}

#aboutOrangeBottom {
  background-color: #913317;
}

#aboutOrangeTop {
  background-color: #ff5800;
}

#aboutOrangeTop h3 {
  font-size: 2em;
  left: 5px;
}

#aboutOrangeTop h4 {
  font-size: 1.25em;
  left: 5px;
}

#centerCode {
  font-size: 1.12121212121em;
  grid-area: code;
}

#centerCollab {
  grid-area: collab;
}

#centerDescriptors {
  align-items: center;
  bottom: 32vh;
  bottom: calc(var(--vh, 1vh) * 32);
  display: grid;
  font-size: 2.0625em;
  grid-template-areas:
  "frontend code"
  "collab hands"
  "playlist headphones";
  grid-template-columns: auto auto;
  grid-template-rows: repeat(3, auto);
  height: 40vh;
  height: calc(var(--vh, 1vh) * 40);
  position: absolute;
  width: 100%;
}

#centerFrontend {
  grid-area: frontend;
}

#centerHands {
  grid-area: hands;
}

#centerHeadphones {
  grid-area: headphones;
}

#centerPlaylist {
  grid-area: playlist;
}

#circleBlack {
  background-color: #433a3f;
  right: 20px;
  top: 40px;
}

#circleBlue {
  background-color: #495b7f;
  left: 10px;
  top: 50%;
  margin-top: -120px;
}

#circleContainer {
  align-items: center;
  display: grid;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-items: center;
  margin-top: -59px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#circlePink {
  background-color: #e196ab;
  right: 0;
  top: 50%;
  margin-top: -110px;
}

#circlePink a {
  color: #382A1F;
  margin-left: -36px;
}

#circlePink h3 {
  padding-top: 20px;
}

#circlePink p {
  font-size: 0.92em;
  line-height: 1.1;
  padding: 10px;
}

#circlePinkWrapText {
  border-radius: 50%;
  float: right;
  height: 240px;
  margin-top: 115px;
  margin-right: -120px;
  shape-outside: circle();
  width: 240px;
}

#circleRed {
  background-color: #eb132a;
  bottom: -20px;
  color: #f1e2c5;
  left: 0;
}

#circleRed h3 {
  padding-top: 35px;
}

#circleRed p {
  line-height: 1.1;
  padding: 15px 20px;
}

#circleRedWrapText {
  border-radius: 50%;
  float: left;
  height: 240px;
  margin: 115px 0 0 -120px;
  shape-outside: circle();
  width: 240px;
}

#circleTrqse {
  background-color: #40918b;
  color: #f1e2c5;
  left: 0;
  top: 0;
}

#circleTrqse a {
  margin-left: 29px;
}

#circleTrqse h3 {
  padding-top: 20px;
}

#circleTrqse p {
  font-size: 0.92em;
  line-height: 1.1;
  padding: 10px 5px 10px 15px;
  text-align: left;
  text-indent: 0.92em;
}


#downArrow {
  bottom: 1vh;
  bottom: calc(var(--vh, 1vh) * 1);
  display: none;
  justify-items: center;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
}

#downArrow:hover {
  cursor: pointer;
}

#downArrowImg {
  margin: 0 auto;
  width: calc((2*(30vh / 7)) - 2vh);
}

#gradYear {
  font-size: 1.25em;
  margin: -5px 0 0 6px;
}

#projectCircles {
  height: 450px;
  position: relative;
  width: 360px;
}

section:not(:first-of-type) {
  background-color: #f1e2c5;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  width: 100%;
}

#scrollTop img {
  transform: rotate(180deg);
}

#scrollWork {
  z-index: 2;
}

#sectionAboutMe {
  top: 100vh;
  top: calc(var(--vh, 1vh) * 100);
}

#sectionProjects {
  top: 200vh;
  top: calc(var(--vh, 1vh) * 200);
}

#sectionWork {
  top: 300vh;
  top: calc(var(--vh, 1vh) * 300);
}

#sideMenu {
  color: #f1e2c5;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  overflow-x: hidden;
  position: fixed;
  right: 0;
  width: 0;
  z-index: 20;
}

#sideMenu li {
  font-size: 1.75em;
  list-style-type: none;
  margin: 8px 0 0 15px;
}

#sideMenu li:first-child {
  margin: 17px 0 15px 15px;
}

#sideMenu li a:hover {
  text-decoration: none;
}

#sideMenuBtn {
  position: fixed;
  right: 0;
  z-index: 10;
}

#university {
  font-size: 1.75em;
  margin-left: 5px;
}

@media only screen and (max-width: 360px) {
  header h1 {
    font-size: 2.0625em;
  }

  nav img {
    margin: 17px 15px 0 0;
    width: 28px;
  }
}

@media only screen and (min-width: 600px) {
  #centerDescriptors {
    left: 30%;
    margin-left: -15%;
    width: 70%;
  }
}